h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: futura;
  font-style: italic;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #313131;
  font-size: 45px;
  font-weight: bold;
  position: absolute;
-webkit-animation: colorchange 20s infinite alternate;
}
@-webkit-keyframes colorchange {
    0% {
      color: blue;
    }
    10% {
      color: #8e44ad;
    }
    20% {
      color: #1abc9c;
    }
    30% {
      color: #d35400;
    }
    40% {
      color: rgb(250, 2, 2);
    }
    50% {
      color: #ffcb59;
    }
    60% {
      color: rgb(222, 255, 74);
    }
    70% {
      color: #5bff5b;
    }
    80% {
      color: #2eeffd;
    }
    90% {
      color: #1900ff;
    }
    100% {
      color: pink;
    }
  }

body {

    background-image: url("https://media4.giphy.com/media/j5mwjor5i5PGigmPH2/giphy.gif?cid=790b7611c4068463ad6f4bb25fe9db089fc969c48c02bedb&rid=giphy.gif&ct=g") ;
}
h2{

  color:rgb(94, 245, 162);
  text-align:calc(40px)
}